{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ThoughtsApp/style.css' %}">
<title>Thoughts</title>

{% block content %}

<!--Checks if the user is logged in or not and what to display-->
{% if user.is_authenticated %}
<div class="login_logout">
    <h3><strong>Hi {{ user.username }}!</strong></h3>
    <button class="btn"><a href="{% url 'logout' %}">Log Out</a></button>
    <button class="btn"><a href="{% url 'ThoughtsApp:mythoughts' %}">My Thoughts</a></button>
</div>
{% else %}
<div class="login_logout">
    <h3><strong>You are not logged in</strong></h3>
    <button class="btn"><a href="{% url 'login' %}">Log In</a></button>
</div>
{% endif %}
{% endblock %}

<h1>Thoughts</h1>
<div class="borders">
<!--Get list of thoughts and display it one by one: Text and Author-->
    {% if thoughts_list %}
    <ul>
        {% for thought in thoughts_list %}
        <div class="list">
            <li>
                <p>"{{ thought.thought_text }}"</p>
                <p>- {{ thought.user.username }}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No thoughts are available.</p>
    {% endif %}
</div>