{% load static %}

<link rel="stylesheet" href="{% static 'ThoughtsApp/style.css' %}">
<title>My Thoughts</title>

{% block content %}
{% if user.is_authenticated %}
  <div class="login_logout">
      <h3><strong>Hi {{ user.username }}!</strong></h3>
      <button class="btn"><a href="{% url 'ThoughtsApp:index' %}">Home</a></button>
      <button class="btn" ><a href="{% url 'logout' %}">Log Out</a></button>
      <button class="btn" ><a href="{% url 'ThoughtsApp:mythoughts' %}">Add Thought</a></button>
  </div>
{% else %}
  <div class="login_logout">
      <h3><strong>You are not logged in</strong></h3>
      <button class="btn"><a href="{% url 'login' %}">Log In</a></button>
  </div>
{% endif %}
{% endblock %}

<h1>My Thoughts</h1>
<div class="borders">
    <p>You have no thoughts.</p>
</div>